In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [4]:
df.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [5]:
print(df.Fuel_Type.unique())
print(df.Seller_Type.unique())
print(df.Transmission.unique())
print(df.Owner.unique())

['Petrol' 'Diesel' 'CNG']
['Dealer' 'Individual']
['Manual' 'Automatic']
[0 1 3]

In [ ]:
df.describe()

In [ ]:
df.drop(columns='Car_Name',inplace=True)

In [ ]:
df['Age'] = 2023-df['Year']

In [ ]:
df.drop(columns = 'Year',inplace =True)

In [ ]:
df.head()

In [ ]:
df.duplicated().sum()

In [ ]:
df.shape

In [ ]:
data = pd.get_dummies(df,dtype=int,drop_first=True)

In [ ]:
data.head()

In [ ]:
data.corr()

In [ ]:
sns.heatmap(data.corr(),cmap='twilight',annot =True)

In [ ]:
x = data.drop(columns='Selling_Price')

In [ ]:
x.head()

In [ ]:
y=data.Selling_Price

In [ ]:
y.head()

In [ ]:
##USED TO SHOW FEATURE IMPORTANCE
from sklearn.ensemble import ExtraTreesRegressor
model = ExtraTreesRegressor()
model.fit(x,y)

In [ ]:
x.columns

In [ ]:
print(model.feature_importances_)

In [ ]:
##MOST IMPORTANT FEATURES
feat_importance = pd.Series(model.feature_importances_,index=x.columns)
feat_importance.nlargest(5).plot(kind='barh')

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
x_train.shape

In [ ]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor()

In [ ]:
##hyperparameters
#NUM of trees in the RandomForestRegressor
n_estimators = [int(x) for x in np.linspace(start=100,stop=1200,num=12)]
#num of features considered at every split
max_features = ['auto','sqrt']
##maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5,30,num=12)]
##min number of samples in a split
min_samples_split = [2,5,10,15,100]
##minimum number of samples at each leaf node
min_samples_leaf = [1,2,5,10]

In [ ]:
##helps us to find the best parameters
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
random_grid = {
    'n_estimators':n_estimators,
    'max_features':max_features,
    'max_depth':max_depth,
    'min_samples_split':min_samples_split,
    'min_samples_leaf':min_samples_leaf
}
print(random_grid)

In [ ]:
model = RandomizedSearchCV(
    RFR,
    param_distributions=random_grid,
    scoring ='neg_mean_squared_error',
    n_iter =10,
    cv = 5,
    verbose = 2,##to display values
    random_state = 42,
    n_jobs=1
)

In [ ]:
model.fit(x_train,y_train)

In [ ]:
predictions = model.predict(x_test)
predictions

In [ ]:
##to show distribution of predictions
sns.distplot(y_test-predictions)

In [ ]:
plt.scatter(y_test,predictions)

In [ ]:
import pickle
pickle.dump(model,open('model.pkl','wb'))